body {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.m-container {
  background-image: url(/images/background-pic.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

/* --Nav & Head Start-- */

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.logo {
  display: flex;
}

.logo h1 {
  font-size: 45px;
  margin-top: 33px;
}

nav ul {
  display: flex;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0;
}

nav ul a {
  text-decoration: none;
  color: wheat;
  font-weight: bold;
}

.nav-btn {
  margin-right: 50px;
  width: 160px;
  height: 40px;
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  border-radius: 2px;
}
.nav-btn a:hover{
  color: white;
}

nav ul a:hover {
  color: orange;
}

nav ul a:active {
  color: orange;
}

.head {
  text-align: center;
  height: 300px;
}

.head h1 {
  font-size: 60px;
  font-weight: 900;
  animation: head-animation 1s ease-out forwards;
  opacity: 0;
}
@keyframes head-animation{
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.head p {
  font-size: 20px;
  color: white;
}

.head p a {
  text-decoration: none;
  color: orange;
}

/* --Nav & head End-- */
/* --Menu Start-- */
.headings-container{
    animation: menu-animation 0.8s ease-out forwards;
    opacity: 0;
}
@keyframes menu-animation{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
.headings-container h4 {
  font-family: "Pacifico", cursive;
  color: orange;
  margin-top: 110px;
  text-align: center;
}
.headings-container h1 {
  font-weight: 900;
  text-align: center;
}
.menu-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.menu-btn-container .btn {
  border: none;
  gap: 20px;
}
.menu-btn-container .btn:active {
  border-bottom: 4px solid orange;
}
.menu-btn-container a {
  text-decoration: none;
  color: black;
}
#content1 {
  display: block;
}
.content {
  display: none;
  margin-right: 12px;
  margin-left: 60px;
  margin-bottom: 90px;
}
.content h4 {
  font-family: "Pacifico", cursive;
  color: orange;
  font-weight: bold;
}
.content .space-between {
  display: flex;
  gap: 250px;
}
.content p {
  font-style: italic;
  margin: 0;
}
.content img {
  border-radius: 3px;
  width: 90px;
  height: 90px;
}

/* --Menu End-- */

/* ---Footer Start--- */
footer {
  background-color: #0f172b;
}

footer .font-pacifico {
  font-family: "Pacifico", cursive;
  color: orange;
  margin-top: 110px;
}

.fr1 {
  padding-left: 100px;
}

footer .fr1 ul {
  list-style: none;
  margin-top: 40px;
}

footer .fr1 ul li {
  margin-top: 10px;
}

.fr1 ul li:hover {
  transform: scale(1.1);
}

footer .fr1 ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer .fr1 ul li::before {
  content: ">";
  color: white;
  margin-right: 20px;
  font-weight: bolder;
}

footer .fr2 {
  padding-left: 100px;
  color: white;
}

.fr2 .cell {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.fr2 .location {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.fr2 .email {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.fr3 {
  padding-left: 100px;
  color: white;
}

.fr4 {
  color: white;
  padding-left: 80px;
  padding-right: 70px;
}

.fr4 input {
  padding: 15px;
  margin-top: 15px;
  border: none;
  border-radius: 2px;
}

.fr4 button {
  position: relative;
  left: 73%;
  bottom: 14%;
  width: 73px;
  height: 47px;
  background-color: orange;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}

/* --Footer End-- */
