body {
    margin: 0;
    padding: 0;
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.m-container {
    background-image: url(/images/background-pic.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

/* ---Nav Start--- */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.logo {
    display: flex;
}

.logo h1 {
    font-size: 45px;
}

nav ul {
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0;
}

nav ul a {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
}

.nav-btn {
    margin-right: 50px;
    width: 160px;
    height: 40px;
    background-color: orange;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
}
.nav-btn a:hover{
  color: white;
}

nav ul a:hover {
    color: orange;
}

nav ul a:active {
    color: orange;
}

/* ---Nav End--- */

/* ---Hero Start--- */
.hero-container {
    display: grid;
    grid-template-columns: 1fr 650px;
    margin-top: 50px;

}

.hero-left {
    margin-left: 70px;
    margin-top: 60px;
}

.hero-left h1 {
    font-size: 60px;
    margin: 0;
    animation: left-h1-p-btn 0.8s ease-in forwards;
    opacity: 0;
}

.hero-left p {
    animation: left-h1-p-btn 1s ease-in 0.4s forwards;
    opacity: 0;
}

.hero-btn {
    width: 180px;
    height: 56px;
    background-color: orange;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
    animation: left-h1-p-btn 1.2s ease-in 0.6s forwards;
    opacity: 0;

}

@keyframes left-h1-p-btn {
    0% {
        transform: translateX(-70px);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-right img {
    width: 550px;
    animation: hero-img 23s linear infinite;

}

@keyframes hero-img {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ---Hero End--- */
/* ---Footer Start--- */
footer {
  background-color: #0f172b;
}

footer .font-pacifico {
  font-family: "Pacifico", cursive;
  color: orange;
  margin-top: 110px;
}

.fr1 {
  padding-left: 100px;
}

footer .fr1 ul {
  list-style: none;
  margin-top: 40px;
}

footer .fr1 ul li {
  margin-top: 10px;
}

.fr1 ul li:hover {
  transform: scale(1.1);
}

footer .fr1 ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer .fr1 ul li::before {
  content: ">";
  color: white;
  margin-right: 20px;
  font-weight: bolder;
}

footer .fr2 {
  padding-left: 100px;
  color: white;
}

.fr2 .cell {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.fr2 .location {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.fr2 .email {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.fr3 {
  padding-left: 100px;
  color: white;
}

.fr4 {
  color: white;
  padding-left: 80px;
  padding-right: 70px;
}

/* --Footer End-- */
