* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background: url(/images/bg-img.jpeg);
}

/* Booking page CSS */
.container {
  padding-bottom: 10%;
}

.reservation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.row {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

/* Video Section */
.video-section {
  flex: 2;
  height: 60vh;
  overflow: hidden;
}

.video-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Form Section */

.form-section {
  flex: 1;
  background-color: #0d1b2a;
  color: white;
  padding: 60px 50px;
  border-radius: 10px;
}

.cursive-title {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: #ffa500;
  margin-bottom: 10px;
  text-align: center;
}

.form-section h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

input,
select,
textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
}

textarea {
  height: 100px;
  resize: none;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #ffa500;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
  background-color: #ff8c00;
}

.animate {
  animation-name: left-h1-p-btn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.section {
  background-color: white;
  padding: 10%;
}

.section1 {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding-bottom: 10%;
}

/* Our Team page CSS */

.heading {
  text-align: center;
  background: transparent;
  color: white;
  padding-top: 2%;
}

.heading h1 {
  font-size: 70px;
  font-weight: bolder;
}

.card-section {
  animation-name: left-h1-p-btn;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.cardsection .row {
  display: flex;
  gap: 100px;
}

.card {
  background: #0d1b2a;
  color: white;
  margin-top: 15%;
  border-radius: 10px;
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease;
}

@keyframes left-h1-p-btn {
  0% {
    transform: translateX(-70px);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.card:hover {
  transform: scale(1.1);
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 50px;
  font-weight: bolder;
  color: black;
}

.card img {
  border: #ff8c00 solid 10px;
  border-radius: 50%;
}

.card-head {
  padding: 10%;
}
